@implements IDisposable
@inject AuthSession AuthSession

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BookBooks</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Livro
            </NavLink>
        </div>
        @if (AuthSession.IsAuthenticated)
        {
            <div class="nav-item px-3 pt-2 text-white-50">
                @AuthSession.CurrentUser!.Username
            </div>
            <div class="nav-item px-3">
                <button class="btn btn-link nav-link" @onclick="SignOut">Sair</button>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        AuthSession.OnChange += HandleAuthChange;
    }

    private void HandleAuthChange()
    {
        InvokeAsync(StateHasChanged);
    }

    private void SignOut()
    {
        AuthSession.SignOut();
    }

    public void Dispose()
    {
        AuthSession.OnChange -= HandleAuthChange;
    }
}
