@model HomeModel
@{
    ViewData["Title"] = "Editar Livro";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<form>
    <div class="form-group">
        <label for="titulo">Título do Livro</label>
        <input type="text" class="form-control" placeholder="Digite o título do livro">
        <small id="emailHelp" class="form-text text-muted">Não são necessários subtítulos</small>
    </div>
    <div class="form-group">
        <label for="autor">Autor</label>
        <input type="text" class="form-control" placeholder="Digite o(s) autor(es) do livro">
    </div>
    <div class="form-group">
        <label for="ano">Ano de publicação</label>
        <input type="number" class="form-control" placeholder="Digite o ano de publicação">
    </div>
    <br />
    <button type="submit" class="btn btn-primary w-100 d-block" style="margin-bottom: 10px">Alterar</button>
    <a class="btn btn-secondary w-100 d-block" asp-controller="Livro" asp-action="Index" role="button">Voltar</a>
</form>




